*{
    margin: 0;
    padding: 0;
}
#container{
    width: 660px;
    height: 510px;
    margin: 0 auto;
}
#container img{
    width: 200px;
    height: 150px;
    float: left;
    margin: 10px;
}
#container img.collide{
    border: 5px solid red;
}